.about-container {
  vertical-align: middle;
  margin: 8rem auto;
  display: flex;
}

.about-container b {
  font-size: 30px;
  display: block;
  margin-bottom: 2rem;
}

.about-container > * {
  flex: 1;
}

.about-container span {
  font-size: 30px;
  font-weight: 500;
  display: block;
  text-align: center;
}

.about-container p {
  line-height: 40px;
  font-size: 20px;
}

.skill-icon {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
